{
  "presets": [
    "es2015",
    "stage-3"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "regenerator": true
      },
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}